.ph{
    font-family: 'Sacramento', cursive;
    padding-left: 400px;
    padding-top: 350px;
}
a{
    text-decoration: none;
    color: black;
}
.ema{
    font-family: 'Rubik 80s Fade', cursive;
    padding-left: 400px;
    padding-top: 10px;
}
.ema2{
    font-family: 'Rubik 80s Fade', cursive;
    padding-left: 400px;
    padding-top: 10px;
}